@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
    font-family: "Roboto", sans-serif;
    overflow-x: hidden;
    overflow-y: auto;
}

header {
    height: 100vw;
    width: 100vw;
}











.row {
    --bs-gutter-x: 0;
}

.img {
    display: flex;
    padding: 0;
    align-items: center;
    justify-content: center;
}

.text {
    display: grid;
    justify-items: center;
}

.img-fluid {
    border-radius: 20px;
    max-width: 450px;
    width: 90%;
    margin: 8px 0 30px 0;
}

.custom-card {
    max-width: 1200px;
    width: 75%;
    background-color: #f5f5f5;
    border: 0;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 8px;
    margin: 50px auto;
    overflow: hidden;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 90%;
}

.card-title {
    margin: 15px;
    font-size: 24px;
    color: #000;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.card-text,
.tech-stack {
    margin: 10px;
    font-size: 16px;
    color: #4e4e4e;
    text-align: justify;
    line-height: 1.5em;
}

.tech-stack {
    font-weight: bold;
}

.project-buttons {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.project-buttons button {
    margin: 10px;
    color: #000000;
    font-weight: bold;

    border: 1px solid black;

    width: 120px;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.project-buttons button:hover {
    background-color: #dcdcdc;
    border: 1px solid rgb(202, 202, 202);
}

.project-buttons button img {
    height: 20px;
    margin: 0 10px 0 0;
}




.project-1 {
    transform: translateX(-100%);
}
.project-2 {
    transform: translateX(100%);
}

.hidden {
    opacity: 0;
    filter: blur(15px);
    transition: all 1;
}

.show {
    opacity: 1;
    filter: blur(0);
    transition: all 1s;
}

.project-1.show {
    transform: translateX(-13%);
}

.project-2.show {
    transform: translateX(13%);
}

@media screen and (max-width: 1024px) {
    .project-1.show, .project-2.show {
        transform: translateX(0);
    }

    .custom-card {
        width: 90%;
    }
}
