@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

* a {
    text-decoration: none;
}

html {
    font-family: "Roboto", sans-serif;
    overflow-x: hidden;
    overflow-y: auto;
}




/* Language */
.language-selected {
    display: flex;
    align-items: center;
    color: #fff;
    cursor: pointer;
    margin: 0 30px;
}

.language-selected:before {
    content: '';
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url('../img/flags/brazil.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 10px;
    margin-top: 9px;
}

.language ul {
    position: absolute;
    width: 150px;
    background-color: #fff;
    border: 1px solid #f8f8f8;
    margin-top: 165px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5);
    display: none;
}

.language ul li {
    list-style: none;
}

.language ul li a {
    display: block;
    color: #252525;
    padding: 5px 10px;
    font: none;
}

.language ul li:hover {
    background-color: #f8f8f8;
}

.language ul li a:before {
    content: '';
    display: inline-block;
    width: 25px;
    height: 25px;
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-right: 10px;
    margin-top: 7px;
}

a.br:before {
    background-image: url('../img/flags/brazil.png');
}

a.en:before {
    background-image: url('../img/flags/us.png');
}

a.de:before {
    background-image: url('../img/flags/germany.png');
}

.language:hover ul {
    display: block;
}




.section {

}






/* title */
.title {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.7em;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    color: #000000;
}


/* Home */
.navbar {
    padding: 15px;
    position: sticky;
    top: 0;
    width: 100vw;
    z-index: 200;
    font-family: "Poppins", sans-serif;
    font-size: 17px;
    background-color: rgb(0, 0, 20) !important; 
}

.navbar-toggler {
    background-color: #fff
}

.navbar-nav {
    --bs-navbar-active-color: #fff;
    --bs-nav-link-color: #fff;
}

.nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link {
    margin: 0 30px;
}

.navbar-brand {
    color: #fff;
}

.home {
    height: calc(100vh - 69px);
    background-image: url('../ceu.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(0, 0, 20);
}

.home-hidden-img {
    display: none;
}

.home img {
    margin: 50px;
    width: 90%;
    max-width: 300px;
    max-height: 300px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.home-photo {
    display: flex;
    justify-content: center;
    align-items: center;
}


.home-text {
    display: flex;
    flex-direction: column;
}


.home-name {
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    color: #fff;
}

.home-name p:nth-child(2) {
    font-weight: bold;
    font-size: 50px;
    margin: 5px 0 25px 0
}

.home-name p:nth-child(3) {
    font-size: 30px;
}



.home-description {
    margin: 10px;
    font-size: 18px;
    color: #aeaeae;
    text-align: justify;
    line-height: 1.5em;
}

.home-description p {
    margin: 20px 0;
}

.home-buttons {
    display: flex;
}

.home-buttons a {
    color: #ffffff;
    font-weight: bold;
    border: 1px solid rgb(216, 216, 216);
    margin: 15px;
    width: 150px;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.home-buttons a:hover {
    background-color: #3a3a3a;
    border: 1px solid rgb(216, 216, 216);
    color: #fff;
}


@media screen and (max-width: 1024px) {

    .home-text {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .home-hidden-img {
        display: flex;
        justify-content: center;
        align-items: center;
        object-fit: cover;
    }

    .home {
        height: 100%;
    }

    .home-hidden-img img {
        width: 220px;
        height: 220px;
    }

    .home-buttons {
        justify-content: space-evenly;
        margin: 5px 0 50px 0;
    }

    .home-photo {
        display: none;
    }

}



/* About */

/* Skills */



/* Projects */
.row {
    --bs-gutter-x: 0;
}

.img-project {
    display: flex;
    padding: 0;
    align-items: center;
    justify-content: center;
}

.card-content {
    display: grid;
    justify-items: center;
}

.img-fluid {
    border-radius: 20px;
    max-width: 450px;
    width: 90%;
    margin: 8px 0 30px 0;
}

.custom-card {
    max-width: 1200px;
    width: 75%;
    background-color: #ffffff;
    border: 0;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 8px;
    margin: 50px auto;
    overflow: hidden;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 90%;
}

.card-title {
    margin: 15px;
    font-size: 24px;
    color: #000;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.card-text,
.tech-stack {
    margin: 10px;
    font-size: 16px;
    color: #4e4e4e;
    text-align: justify;
    line-height: 1.5em;
}

.tech-stack {
    font-weight: bold;
}

.project-buttons {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.project-buttons button {
    margin: 10px;
    color: #000000;
    font-weight: bold;

    border: 1px solid black;

    width: 120px;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.project-buttons button:hover {
    background-color: #dcdcdc;
    border: 1px solid rgb(202, 202, 202);
}

.project-buttons button img {
    height: 20px;
    margin: 0 10px 0 0;
}

.project-1 {
    transform: translateX(-100%);
}
.project-2 {
    transform: translateX(100%);
}

.hidden {
    opacity: 0;
    filter: blur(15px);
    transition: all 1;
}

.show {
    opacity: 1;
    filter: blur(0);
    transition: all 1s;
}

.project-1.show {
    transform: translateX(-13%);
}

.project-2.show {
    transform: translateX(13%);
}

@media screen and (max-width: 1024px) {
    .project-1.show, .project-2.show {
        transform: translateX(0);
    }

    .custom-card {
        width: 90%;
    }
}


/* Translate to english */


